@charset "utf-8";
/*预设*/
body,ul,h1{
	margin:0;}
.box{
	background:#eee;
	font-family: "微软雅黑";
	padding:20px;
	border:1px solid #999;
	height:auto !important;
    height:420px; 
    min-height:420px; 
}
.namebox,.infobox,.picbox{
	background-color:#FFF;
	padding:20px;
	border:1px solid #999;
	position:relative;
}
.infobox{
   width: auto;
   margin: 0 142px 0 222px;
}
.picbox{
	width:80px;
	float:right;
}
.namebox{
	width:160px;
	float:left;}
.namebox img{
	float:left;}
/**************************/
.namebox h3{
	float:left;
	display:inline-block;
	margin-left:20px;}
.picbox img{
	margin-bottom:20px;}
.picbox img:last-child{
	margin-bottom:0px;}
