@charset "utf-8";
/*预设*/
body,ul,h1{
	margin:0;}
body{
	background:#eee;
	font-family: "微软雅黑";
	padding:20px;
	border:1px solid #999;
	height:auto;
}
/**************************/
.namebox,.infobox,.picbox{
	background-color:#FFF;
	padding:20px;
	border:1px solid #999;
	display:inline-block;
	
}
.namebox{
	width:160px;
	height:80px;
	float:left;}
.namebox img{
	float:left;}
.namebox h3{
	float:left;
	display:inline-block;
	margin-left:20px;}
.infobox{
	float:left;
	margin:0 20px;
	}
.picbox{
	width:80px;
	float:right;}
.picbox img{
	margin-bottom:20px;}
.picbox img:last-child{
	margin-bottom:0px;}
