@charset "utf-8";
/*******浮出层*******/
.floatbox{
	width:500px;
	height:250px;
	border:2px outset #333;
	position:fixed;
	left:50%;
	top:50%;
	margin:-125px -250px;
	background-color:#666;
	z-index:20;
	font: 18px/50px "微软雅黑";}
.floatbox > div:nth-child(1){
	height:20%;
	width:100%;
	color:#FFF;}
.floatbox > div:nth-child(2){
	width:100%;
	height:79.2%;
	background:#fff;
	border-top:2px outset #333;}
.floatbox input{
	padding:5px 20px;
	font: 18px "微软雅黑";
	color:#FFF;
	border:2px outset #333;
	background-color:#666;
	position:absolute;
	bottom:20px;}
.floatbox input:nth-child(1){
	right:120px;}
.floatbox input:nth-child(2){
	right:20px;}
/*****覆盖层*****/
.cover{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0, 0,0, 0.3);
	z-index:10;}
