@charset "utf-8";
body,div,span,ul,li,a,h1,h2,h3,h4,input,select,table{
	padding:0;
	margin:0;}
body{
	background-color:#CCC;}
.box{
	width:550px;
	height:330px;
	margin:100px auto;
	text-align:center;
	font-family:"微软雅黑";
	font-size:24px;
	z-index:10;
	box-shadow:5px 5px 10px #333333;
	position:relative;}
.box h1{
	font-size:2.8rem;
	line-height:5rem;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     /***添加标题1颜色*****/
	 background-size: 200% 100%;
	 background-image:-webkit-linear-gradient(left,#f00,#ff0 10%,#0f0 20%,#0ff 30%,#00f 40%,#f00 50%,#ff0 60%,#0f0 70%,#0ff 80%,#00f 90%,#f00);
	 background-image:-moz-linear-gradient(left,#f00,#ff0 10%,#0f0 20%,#0ff 30%,#00f 40%,#f00 50%,#ff0 60%,#0f0 70%,#0ff 80%,#00f 90%,#f00);
	 background-image:-o-linear-gradient(left,#f00,#ff0 10%,#0f0 20%,#0ff 30%,#00f 40%,#f00 50%,#ff0 60%,#0f0 70%,#0ff 80%,#00f 90%,#f00);
	animation:h1_change 5s linear infinite;
    -webkit-animation:h1_change 5s linear infinite;
    -moz-animation: h1_change 5s linear infinite;
	opacity:0;}
.box h3{
	
	 font-size:2rem;
	 line-height:4rem;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     /***添加标题2颜色*****/
	 animation:h3_change 2s linear infinite;
    -webkit-animation:h3_change 2s linear infinite;
    -moz-animation: h3_change 2s linear infinite;
	opacity:0;
	}
/*****边框展开****/
.bd{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -120px 0 0 -200px;
        width: 400px;
        height: 240px;
        text-align: center;
        z-index: 10;
		}
.bd:hover{
	   opacity:1;
	   transition: all 1s;
	   }
.bd:hover h1,.bd:hover h3{
	   opacity:1;
	   transition: all 1s;
	   }

.bd::before, .bd::after {
        display: block;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        box-sizing: border-box;
        transition: all 1.5s;}
.bd::before {
        top: 0;
        left: 50%;
        height: 240px;
        border-top: 10px solid white;
        border-bottom: 10px solid white;}
.bd::after {
        top: 50%;
        left: 0;
        width: 400px;
        border-left: 10px solid white;
        border-right: 10px solid white; }
.bd:hover::before {
        top: 0;
        left: 0;
        width: 400px;} 
.bd:hover::after {
        top: 0;
        left: 0;
        height: 240px; }
/*******模糊效果*******/
.cover{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: url(http://wx4.sinaimg.cn/large/b64d25bfgy1fdsdlifur6j21hc0u07c0.jpg);
	background-size:cover;
	z-index:-10;}
.box:hover .cover,.box:active .cover{
	filter: url(blur.svg#blur);
    -webkit-filter: blur(10px);
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);}
/******渐变色动画*********/
@keyframes h1_change
{
  0% { background-position: 0 0;}
  100% {background-position: -100% 0; }
}
@-moz-keyframes h1_change
{
  0% { background-position: 0 0;}
  100% {background-position: -100% 0; }
}
@-webkit-keyframes h1_change
{
  0% { background-position: 0 0;}
  100% {background-position: -100% 0; }
}
/******h3动画*********/
@keyframes h3_change
{
	0%   {background:-webkit-linear-gradient(top,#060,#0F0);}
	25%  {background:-webkit-linear-gradient(top,#30F,#39F);}
	50%  {background:-webkit-linear-gradient(top,#060,#0F0);}
	75%  {background:-webkit-linear-gradient(top,#30F,#39F);}
	100% {background:-webkit-linear-gradient(top,#060,#0F0);}
}
@-moz-keyframes h3_change
{
	0%   {background:-webkit-linear-gradient(top,#060,#0F0);}
	25%  {background:-webkit-linear-gradient(top,#30F,#39F);}
	50%  {background:-webkit-linear-gradient(top,#060,#0F0);}
	75%  {background:-webkit-linear-gradient(top,#30F,#39F);}
	100% {background:-webkit-linear-gradient(top,#060,#0F0);}
}
@-webkit-keyframes h3_change
{
	0%   {background:-webkit-linear-gradient(top,#060,#0F0);}
	25%  {background:-webkit-linear-gradient(top,#30F,#39F);}
	50%  {background:-webkit-linear-gradient(top,#060,#0F0);}
	75%  {background:-webkit-linear-gradient(top,#30F,#39F);}
	100% {background:-webkit-linear-gradient(top,#060,#0F0);}

}


