@charset "utf-8";
body,li,ul{
   font: 18px "微软雅黑";
   margin: 0px;
   padding: 0px;
   color:#333;
   list-style:none;}
.box{
	margin:50px auto;
	width:50%;}
form > input{
	border-radius:5px;
	font-weight:bold;
    text-align:center;
	margin:30px 10px;
	font: 18px "微软雅黑";}
.input{
	margin-top:50px;
	width:90px;}
.btn{
	margin-top:10px;
	padding:5px 20px;
	color:#FFF;
	background-color:#333;
	float:right;}
